<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>ZB-Fit Calculator</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<header th:fragment="header">
    <div class="card">
        <div class="card-header">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/home">ZB FIT</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Lista de alimentos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

</header>
<footer th:fragment="footer" class="fixed-bottom">
    <div class="card text-center">
        <div class="card-header">
            ZB Sistemas
        </div>
        <div class="card-body">
            <h5 class="card-title">Sobre a ZB FIT Calculator</h5>
            <p class="card-text">ZB FIT Calculator é uma calculadora desenvolvida para que você possa calcular
                suas calorias sem a necessidade de ficar procurando na internet, e fazendo os cálculos manualmente.
                Ela conta com uma lista de alimentos já armazenados na base de dados, mas você pode adicionar mais
                alimentos.
            </p>
            <p class="card-text">
                Atualmente estamos na versão 1.0, onde só é possível utilizar no computador. Se quiser conhecer
                mais projetos, clique no botão abaixo.
            </p>
            <a href="#" class="btn btn-primary">ZB SISTEMAS</a>
        </div>
        <div class="card-footer text-body-secondary">
            2 days ago
        </div>
    </div>
</footer>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>